body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    color: antiquewhite;
    line-height: 40px;
    background-color: rgb(128, 0, 0);
  }
  
  /*GENERAL*/
  
  .container {
    clear: both;
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
  }
  
  h1,
  h2,
  h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 750;
  }
  
  h1 {
    padding-bottom: 20px;
    padding-left:20px;
    font-size: 30px;
    line-height: 50px;
    color: peru;
    border-style:ridge;
    border-color: black;
  }
  
  h2,
  h3 {
    font-size: 25px;
  }
  
  /*HEADER*/
  .container {
    padding:0;
    margin:0;
  }

  .homer-image {
    width:fit-content;
    height:200px;
    border-style:ridge;
    border-color: black;
  }
  
  /*MAIN*/

  .main-container {
    margin-top:40px;
    padding:40px;
    float: left;
  }
  
  /*FOOTER*/
  
  footer {
    padding: 30px 0;
    clear: both;
    font-size: 40px;
    color: green;
    text-align: center;
  }